# Compiled Files
lib
*.js
*.map
*.d.ts

# Library directories
node_modules
coverage
npm-debug.log

# Mac
.DS_Store
**/.DS_Store

# Ignore VSCode Config
.vscode
.idea/angular2-ionic-token.iml
.idea/modules.xml
.idea/preferred-vcs.xml
.idea/typescript-compiler.xml
.idea/vcs.xml
.idea/workspace.xml